nav {
    height: 100px;
}
#brandlogo {
    height: 100px;
}
#partition {
    height: 60px;
    width: 1px;
    background-color: white;
}
nav li a {
    font-size: 20px;
    height: 100px;
    padding: 15px;
}
nav li a:hover {
    font-size: 20px;
    height: 100px;
    padding: 15px;
    color: #45ab7c;
}
nav li img {
    height: 30px;
    margin-bottom: -8px;
    padding-right: 5px;
}
